.nav {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr 1fr 6fr 2fr 1fr;
    font-family: Helvetica, sans-serif;
    background-color: rgb(50, 50, 56);
    width: 100vw;
    margin: 0;
    padding: 0;
    place-items: center;
    /* debugging */
    border: 2px solid red;
}

#gmdb {
    grid-column: 1;
    color: white;
    font-size: large;
    font-weight: 1;
    padding-left: 1%;
    padding-right: 1%;
    /* debugging */
    /* background-color: aqua; */

}

#home {
    grid-column: 2;
    color: white;
    font-size: medium;
    font-weight: 1;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* debugging */
    /* background-color: rgb(98, 255, 0); */

}

#login {
    grid-column: 3;
    color: grey;
    font-size: medium;
    font-weight: 1;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* debugging */
    /* background-color: blue; */
}

#search-bar-wrapper {
    grid-column: 5;
}

#search-bar {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#search {
    text-align: center;
    color: rgb(255, 200, 0);
    height: 60%;
    width: 90%;
    grid-column: 6;
    font-size: medium;
    font-weight: 1;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(255, 200, 0);
    background-color: transparent;
}